<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\DeepSeek\.venv\Scripts\python.exe|D:\DeepSeek\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <fastCgi>
      <application fullPath="D:\DeepSeek\.venv\Scripts\python.exe"
                   arguments="D:\DeepSeek\.venv\Lib\site-packages\wfastcgi.py"
                   maxInstances="4"
                   instanceMaxRequests="10000"
                   idleTimeout="300" />
    </fastCgi>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app_chatgpt.app" /> <!-- Phải đúng với file main.py -->
    <add key="PYTHONPATH" value="D:\DeepSeek" />
  </appSettings>
</configuration>
